POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_DB=dbname

HOME_NAME="Datenschule"
WALK_APP_URL="https://spaziergang.demokratielabore.de"
CONTACT_EMAIL="admin@test.com"
RAILS_ENV=production
SECRET_KEY_BASE="somestringgeneratedbyrails"
SENTRY_DSN="https://secretkey@sentry.server/projectid"
MATOMO_URL="https://yourmatomo.server"
MATOMO_ID="matomoid"
