<%= form_tag station_path(@station),
  method: :delete,
  data: { confirm: t('station.form.help.delete') },
  class: 'd-inline' do %>
  <button class="btn btn-error tooltip" data-tooltip="<%= t 'station.delete' %>">
    <i data-feather="trash-2"><%= t 'station.delete' %></i>
  </button>
<% end %>
