<div class="tile tile-centered">
  <div class="tile-icon">
    <i data-feather="map-pin"></i>
  </div>
  <div class="tile-content">
    <div class="tile-title"><%= link_to station.name, station_path(station) %></div>
    <div class="tile-subtitle text-gray">
      <%= pluralize(station.subjects.size, t('subject.singular'), t('subject.plural')) %> |
      <%= t 'last_edited' %> <%= station.updated_at.strftime '%d.%m.%Y %H:%M' %>
    </div>
  </div>
  <% if action_name == 'sort' %>
    <div class="tile-action">
      <button class="btn btn-link ml-2">
        <i data-feather="move"></i>
      </button>
    </div>
  <% end %>
</div>
