<% if @walk.stations.first %>
  <ul class="walk-list">
    <% @walk.stations.sort_by(&:priority).each do |station| %>
      <li>
        <%= render 'stations/list_item', station: station %>
        <ul>
          <% station.subjects.each do |sub| %>
            <li><%= link_to sub.name, subject_path(sub) %>
              (<%= pluralize(sub.pages.size, 'pages') %>)
            </li>
          <% end %>
        </ul>
      </li>

    <% end %>
  </ul>
<% else %>
  <%= render 'stations/empty' %>
<% end %>
