<div class="container">
  <div class="columns">
    <h1 class="column col-12 mb-2"><%= t('station.edit') %></h1>
  </div>
  <div class="columns">
    <div class="column col-7 col-md-10">
      <%= form_for :station, method: :put, url: station_path(@station) do |f| %>
        <%= render "form", f: f %>
      <% end %>
    </div>
    <div class="column col-5 col-md-10">
      <noscript><%= t 'staion.form.noscript' %></noscript>
      <div id="pick-map"></div>
    </div>
  </div>
</div>
