<div class="container">
  <div class="columns">
    <div class="column col-8 col-md-12">
      <h1><%= t('admin.dash')%></h1>
      <%= render 'admin/tab_nav' %>
      <%= render 'admin/user_list' %>
    </div>
    <%= render 'admin/stats' %>
  </div>
</div>
