<%= form_tag page_path(page),
  method: :delete,
  data: {confirm: t('page.form.help.delete') },
  class: "d-inline" do %>
  <button class="btn btn-error tooltip" data-tooltip="<%= t('page.delete')%>">
    <i data-feather="trash-2"><%= t('page.delete')%></i>
  </button>
<% end %>
