<div class="empty">
  <div class="empty-icon">
    <i data-feather="alert-octagon"></i>
  </div>
  <p class="empty-title h5"><%= t("page.none") %></p>

  <div class="empty-action">
    <%= link_to t('page.new_verb'), new_subject_page_path(@subject), class: 'btn btn-primary' %>
  </div>
</div>
