<% if @page.variant == 'quiz' %>
  <% if @page.question && @answers %>
    <div class="column col-12">
      <div class="box">
        <h2 class="h4 mt-2"><%= @page.question if @page.question.present? %></h2>
        <ul>
          <% pages_clean_answers(@answers).each_with_index do |answer, index| %>
            <li>
              <%= answer %>
              <%= "(#{t 'page.correct'})" if @correct_answer == index %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end  %>
