<h1>Pages for <%= @subject.name%></h1>

<p>Back to <%= link_to @subject.name, subject_path(@subject) %></p>

<% if @pages.first %>
  <ul>
    <% for page in @pages do %>
      <%= render("pages/list_item", page: page) %>
    <% end %>
  </ul>
<% else %>
  No Pages
<% end %>
