<div class="container">
  <div class="columns">
    <h1 class="column col-12 mb-2"><%= t('page.new_verb') %></h1>
  </div>
  <div class="columns">
    <div class="column col-7 col-md-10">
      <%= form_for :page, method: :post, url: subject_pages_path() do |f|%>
        <%= render "form", f: f %>
      <% end %>
      <p class="mt-2"><%= link_to t("back"), subject_path(@subject) %></p>
    </div>
  </div>
</div>
