<div class="container staticpage-content">
  <div class="columns">
    <div class="column col-8">
      <h1><%= t('data_protection.title') %></h1>

      <h2>1. Verantwortlicher und Kontaktmöglichkeiten des Datenschutzbeauftragten</h2>
      <p>Die für die Datenerhebung, -verarbeitung und -nutzung verantwortliche Stelle ist der <a href="https://okfn.de">Open Knowledge Foundation Deutschland e.V.</a>, Singerstraße 109, 10179 Berlin. Anfragen an den Datenschutzbeauftragten können gesendet werden an datenschutz@okfn.de.</p>

      <p>Die Sicherheit Ihrer Daten hat bei uns höchste Priorität. Wir ergreifen jede nur mögliche Maßnahme, um Ihre persönlichen Daten vor unbefugtem Zugriff zu schützen. Sämtliche Anforderungen des Bundesdatenschutzgesetzes (BDSG), Telemediengesetzes (TMG) sowie alle weiteren datenschutzrechtlichen Vorschriften werden von uns eingehalten. Sie können unsere Seite besuchen, ohne Angaben zu Ihrer Person zu machen.</p>
      <p>Im Rahmen der Website SpaziergangCreator können Sie einen Datenspaziergang erstellen und veröffentlichen. Bis zur Veröffentlichung bleibt der Datenspaziergang nicht-öffentlich unter Ihrem Nutzerkonto.</p>
      <h2>2. Personenbezogene Daten und Zweck</h2>
      <h3>Personenbezogene Daten</h3>
      <p>Um ein Nutzerkonto zu erstellen benötigen wir eine Emailadresse. Die Emailadresse wird nicht öffentlich gemacht. Optional kann ein frei gewählter Nutzername angegeben werden, anonsten werden Spaziergänge als anonym veröffentlicht.</p>
      <h3>Allgemeine Nutzung der Webseite</h3>
      <p>Bei der Bentutzung der Seite fallen bei unseren Hoster, zur Erhaltung der Systemsicherheit, Logfiles an. Diese können die folgenden Daten beinhalten:</p>
      <ul>
        <li>die IP - Adresse</li>
        <li>Datum des Zugriffs</li>
        <li>die URL</li>
        <li>Inhalte auf die zugegriffen wurde sowie</li>
        <li>die übertragenen Informationen</li>
      </ul>

      <h3>Zwecke und Rechtsgrundlage der Datenverarbeitung</h3>
      <p>Die Verarbeitung Ihrer IP-Adresse während des Verbindungsaufbaus erfolgt, damit wir Ihnen unsere Website zur Verfügung stellen können. Sie basiert auf Art. 6 Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse besteht im genannten Zweck.</p>
      <p>Die Verarbeitung im Rahmen einer Kontaktaufnahme erfolgt, damit wir Ihre Anfrage bearbeiten und beantworten könne. Die Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse liegt im soeben genannten Zweck.</p>

      <h2>3. Empfänger der Daten</h2>
      <p>Innerhalb unserer Organisation haben jeweils die Abteilungen auf Ihre Daten Zugriff, die für die Bearbeitung der Anliegen zuständig sind.</p>

      <h2>4. Speicherdauer</h2>
      <h3>Cookies</h3>
      <p>Falls Sie eingeloggt sind, benutzen wir sog. Session Cookies um zwischen Seitenwechseln zu verifizieren, dass Sie wirklich Sie und eingeloggt sind. Die Speicherdauer dieser Cookies können Sie in Ihren Browsersettings einstellen, oder auch untersagen. Komplett deaktivierte Cookies können zur Unbenutzbarkeit der Seite führen.</p>
      <h3>Nutzerinhalte</h3>
      <p>Inhalte bleiben solange gespeichert, wie sie für die Funktionalität der Seite sinnvoll sind. Dies gilt auch für Nutzerdaten. Beides kann vom jeweiligen Nutzer derzeit eigenständig und vollständig gelöscht werden.</p>

      <h2>5. Betroffenenrechte</h2>
      <p>Die Datenschutz-Grundverordnung garantiert Ihnen gewisse Rechte, die Sie uns gegenüber – soweit die gesetzlichen Voraussetzungen vorliegen – geltend machen können.</p>
      <p>Wenden Sie sich hierzu an datenschutz@okfn.de</p>

      <h2>6. Pflicht zur Bereitstellung von Daten</h2>
      <p>Sie haben keine vertragliche oder gesetzliche Pflicht uns personenbezogene Daten bereitzustellen. Allerdings sind wir ohne die von Ihnen mitgeteilten Daten nicht in der Lage, Ihnen unsere Services anzubieten.</p>

      <h2>7. Bestehen von automatisierten Entscheidungsfindungen (einschließlich Profiling)</h2>
      <p>Wir verwenden keine automatisierten Entscheidungsfindungen, die Ihnen gegenüber rechtliche Wirkungen entfaltet oder Sie beeinträchtigt.</p>

      <h2>8. Internetspezifische Datenverarbeitungen</h2>
      <p>Während der Nutzung unserer Internetseiten werden durch uns automatisch technische Zugriffsdaten aufgezeichnet und ausgewertet. Hierfür benutzen wir das Tool “Matomo” (ehemals „Piwik“), ein Open-Source-Programm für Webanalytik, welches statistische Kennwerte zur Nutzung unserer Website auswertet. Diese Daten können jedoch nicht einer bestimmten Person zugeordnet werden; der einzelne Benutzer bleibt hierbei anonym. Weitere Informationen zu “Matomo” finden Sie auf der Website <a href="https://matomo.org">https://matomo.org</a>.</p>
      <p>Zu diesen Daten gehören zum Beispiel</p>
      <ul>
        <li>Die um die letzten beiden Oktette gekürzte IP-Adresse,</li>
        <li>Informationen über den verwendeten Internet-Browser und das verwendete Betriebssystem,</li>
        <li>der Domain-Name der Website, von der aus ein Besuch unserer Internet-Seiten erfolgt,</li>
        <li>die durchschnittliche Verweildauer in unserem Angebot und</li>
        <li>die in unserer Web-Site aufgerufenen Seiten.</li>
      </ul>
      <p>Für die Nutzung von Matomo verwenden wir sogenannte „Cookies“. Hierbei handelt es sich um kleine Textdateien, die ein Webserver an ihren Computer senden kann, um diesen für die Dauer des Besuches zu identifizieren. Wir setzen die beiden Session Cookies pk_ses sowie die persistenten Cookies pk_id und pk_ref ein. Über diese Cookies erfassen wir keine personenbezogenen Daten von Ihnen.</p>
      <p>pk_ses wird grundsätzlich nach dem Beenden Ihrer Browsersitzung gelöscht, lediglich bei pk_id und pk_ref handelt es sich um ein über eine Browsersitzung hinaus bestehendes (sog. persistentes) Cookie, anhand dessen wir erkennen können, wann ein Nutzer unsere Seite erneut besucht. Sofern Sie das Cookie nicht selbst entfernen, löscht es sich nach 1 Jahr bzw. 6 Monaten selbständig.</p>
      <p>Die Darstellung unserer Internetseite ist auch ohne Speicherung von Cookies möglich. Sie können das Speichern von Cookies in den Einstellungen ihres Browsers deaktivieren oder diesen so einstellen, dass er Sie über die beabsichtigte Speicherung durch eine Internetseite informiert. In diesem Fall entscheiden Sie über die Annahme des Cookies.</p>
      <p>Zudem können durch die Entfernung <%= link_to "des folgenden Hakens", "#{ENV['MATOMO_URL']}/index.php?module=CoreAdminHome&action=optOut&language=#{I18n.locale}" %>  verhindern, dass wir mittels Matomo Analyse-Cookies auf Ihrem Endgerät setzen. In diesem Fall wird ein Cookie gesetzt um uns zu signalisieren, dass Sie der Nutzung widersprochen haben.</p>
      <p>Bitte beachten Sie, dass die jeweiligen Einstellungen bzgl. Cookies nur für Ihr aktuell benutztes Gerät und Ihren aktuell benutzten Browser wirksam sind. Sollten Sie ein anderes Gerät oder einen anderen Browser benutzen, müssen Sie in der Regel die Einstellungen erneut vornehmen. Zudem unterstützen wir die „Do not Track“ Funktion Ihres Browsers. Hiermit können Sie uns aktiv über Ihre Browsereinstellungen mitteilen, ob Sie eine Aufzeichnung Ihrer Aktivitäten wünschen oder nicht. Haben Sie „Do not Track“ aktiviert, erfolgt keine Aufzeichnung Ihrer Aktivitäten.</p>
      <p>Die Rechtsgrundlage für die Verwendung von Matomo findet sich in Art. 6 Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse besteht darin, dass wir die Nutzung unserer Website zu deren Verbesserung und Optimierung auswerten. Die so erfassten Daten werden für einen Zeitraum von 24 Monaten gespeichert.</p>

      <h2>9. Wenn Sie Anmerkungen oder Fragen haben</h2>
      <p>Wir treffen alle erdenklichen Vorkehrungen zum Schutz und zur Sicherheit Ihrer Daten. Ihre Fragen und Kommentare zum Datenschutz sind uns willkommen, schreiben Sie einfach eine Mail an datenschutz@okfn.de.</p>

      <p>Berlin, Februar 2019</p>
    </div>
  </div>
</div>
