<div class="container">
  <div class="columns">
    <div class="column col-8">
      <h1><%= t :app_name %></h1>
      - Was ist ein Datenspaziergang<br>
      - Was sind Stationen, Themen und Seiten?<br>
      - Wie kann ich meinen Spaziergang veröffentlichen?<br>

      <%= link_to "Ersten Spaziergang anlegen", new_walk_path(knows_help_site: true), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
