<div class="container">
  <div class="columns">
    <div class="column col-8">
      <h1><%= t :app_name %></h1>
      - Was ist ein Datenspaziergang<br>
      - Was sind Stationen, Themen und Seiten?<br>
      - Wie kann ich meinen Spaziergang veröffentlichen?<br>
    </div>
  </div>
</div>
