<%= form_tag subject_path(@subject),
  method: :delete,
  data: {confirm: "This will delete the subject irrevocably. Continue?" } do %>
  <button class="btn tooltip" data-tooltip="löschen">
    <i data-feather="trash-2">löschen</i>
  </button>
<% end %>
