<%= form_for :walk, method: :patch, url: walk_path(@walk), html: { class: 'd-inline' } do |f| %>
  <%= f.hidden_field :public %>
  <button class="btn btn-secondary tooltip"
          data-tooltip="Spaziergang veröffentlichen"><i data-feather="globe"></i></button>
<% end %>
