<%= form_for :walk, method: :patch, url: walk_path(walk),
  html: { class: 'd-inline' },
  data: { confirm: t('license.confirm') } do |f| %>
  <%= f.hidden_field :public, value: !walk.public %>
  <button class="btn btn-secondary tooltip"
          data-tooltip="<%= t('walk.publish.btn_tooltip')%>"><i data-feather="globe"></i></button>
<% end %>
