<div class="container">
  <% if @walks.first %>
    <ul class="columns walk-list">
      <% for walk in @walks do %>
        <%= render 'walks/list_item', walk: walk %>
      <% end %>
    </ul>
  <% else %>
    <%= render 'walks/empty' %>
  <% end %>
</div>
