<div class="container">
  <% if @walks.first %>
    <div class="columns">
      <ul class="column col-12 walk-list">
        <% for walk in @walks do %>
          <%= render 'walks/list_item', walk: walk %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= render 'walks/empty' %>
  <% end %>
</div>
