<div class="container">
  <div class="columns walk-header">
    <div class="column col-10">
      <h1><%= t('walk.plural')%></h1>
    </div>
    <% if current_user %>
      <div class="column col-2 text-right">
        <%= link_to new_walk_path, class: 'btn tooltip', data: {tooltip: t('walk.new_verb')} do %>
          <i data-feather="plus-circle"><%= t('walk.new_verb') %></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'walks/walk_list' %>
