<h1>Walks</h1>


<% if @walks.first %>
  <ul>
  <% for walk in @walks do %>
    <li>
      <%= link_to walk.name, walk_path(walk) %>
      <%= can_edit_walk(walk) %>
    </li>
  <% end %>
  </ul>
<% else %>
  No walks
<% end %>

<div>
<%= link_to "New", new_walk_path %>
</div>
