.wrapper .container > *{
  max-width: 1200px;
  margin: auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin: 2em 0;
}

.footer {
  padding: 1em 0;
  border-top: 3px solid $foam;
  background-color: $dark-color;
  color: white;
  font-size: 0.8rem;
  a {
    color: $foam;
  }
}

.legal {
  padding: .5rem 0 .4rem;
  background-color: $secondary-color;
  a {
    color: $dark-color;
  }
}

.footer-logo {
  width: 100%;
  height: auto;
  max-width: 170px;
  margin-top: 0.4rem;
}

.navigation{
  border-bottom: 3px solid $foam;
  background-color: $dark-color;
  color: white;
  a {
    color: $foam;
  }
}

.language-switch {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.7rem;
  margin-left: 2em;
  .active {
    pointer-events: none;
    cursor: default;
  }
}

.breadcrumb {
  background-color: $light-color;
  color: $gray-color;
  margin-top: 0;
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    color: $gray-color;
  }
  li {
    display: inline-block;
    margin-right: .5em;

    &:not(:first-of-type) {
      margin-left: .5em;
    }
  }
}
