// Example of project-name.scss
// Define variables to override default ones
$primary-color: #2e5bec;
$dark-color: #3e396b;

// Import full Spectre source code
@import "spectre.css/src/spectre";
@import "sortable";

.wrapper .container > *{
  max-width: 1200px;
  margin: auto;
}
