// Example of project-name.scss
// Define variables to override default ones

// demolabs colors
$mint: #00d4e2;
$mint-light: #00EEF8;
$blue-light: #0188FB;
$purple-light: #8E01EA;
$blue-dark: #0500C3;
$pink-light: #FF0168;
$orange: #FFA822;
$green-light: #00FF68;
$purple-dark: #5500C3;
$pink-dark: #EA0173;

$purple: $purple-dark;
$inactive-purple: #a576f1;
$foam: #00ff9d;

$primary-color: $purple;
$secondary-color: $foam;

$success: $green-light;
$warning: $orange;
$error: $pink-light;


// Import full Spectre source code
@import "spectre.css/src/spectre";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "sortable";
@import "base";
@import "layout";
@import "grid";
@import "form";
@import "map";
@import "tab";
@import "util";
@import "courseline";
@import "onboarding";
@import "frontpage";

.walk-list {
  margin: 0;
  list-style: none;
  .walk-list {
    margin-left: 2em;
    > li {
      margin-bottom: 0;
    }
  }

  > li {
    padding: 0.4em 1em 0.2em;
    border-radius: 2px;
    margin: 0 0 1em 0;
    background-color: $light-color;
  }
}

.box {
  padding: 0.3em 1em;
  border-radius: 2px;
  background-color: $light-color;
}
