<% if current_user %>
  <nav class="container">
    <div class="pl-2 pr-2">
      <ul class="breadcrumb">
        <%= render_breadcrumbs tag: :li, separator: "/" %>
      </ul>
    </div>
  </nav>
<% end %>
