<% if current_user && breadcrumbs.present?%>
  <nav class="container bg-darlk-gray breadcrumb">
    <div class="px-2 pb-2">
      <ul>
        <%= render_breadcrumbs tag: :li, separator: "/" %>
      </ul>
    </div>
  </nav>
<% end %>
