<footer class="container footer">
  <div class="columns">
    <div class="column col-3">
      <p><%= image_tag("Logo_okfde_black.svg", size: "220x120", alt: "OKF DE logo") %></p>
    </div>
    <div class="column col-3">
      <ul>
        <li><%= t(:app_license) %></li>
        <li><%= t(:link_github) %> <a href="https://github.com/Datenschule/spaziergang-creator">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
