<footer class="container footer">
  <div class="columns">
    <div class="column col-3">
      <p>OKF DE logo</p>
    </div>
    <div class="column col-3">
      <ul>
        <li>Released under MIT License</li>
        <li>Find the <a href="https://github.com/Datenschule/spaziergang-creator">code on GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
