<footer class="container footer">
  <div class="columns">
    <div class="column col-2">
      <p><%= image_tag("Logo_okfde_white_scaled.png", alt: "OKF DE logo", class: "footer-logo") %></p>
    </div>
    <div class="column col-3">
      <p><%= t 'app_about' %></p>
      <p><%= t(:app_license) %>
      <%= link_to t('link_github'), "https://github.com/Datenschule/spaziergang-creator"%></p>
    </div>
  </div>
</footer>
