<div class="container">
  <header class="navbar p-2">
    <section class="navbar-section">
      <%= link_to "All walks", walks_path, class: "btn btn-link" %>
    </section>
    <section class="navbar-center">
      <a href="/" class="navbar-brand mr-2">Spaziergang Creator</a>
    </section>
    <section class="navbar-section">
      <a href="https://spaziergang.datenschule.de/" class="btn btn-link">Datenspaziergang App</a>
      <a href="https://github.com/Datenschule/spaziergang-creator" class="btn btn-link">GitHub</a>
    </section>
  </header>
</div>
