<header class="container navigation">
  <nav class="navbar p-2">
    <section class="navbar-section pt-2 pb-2">
      <a href="/" class="navbar-brand mr-2"><%= t :app_name %></a>
      <%= link_to t('walk.plural'), walks_path, class: "ml-2" %>
    </section>
    <section class="navbar-section">
      <a href="https://spaziergang.datenschule.de/"><%= t :mobile_app %></a>
    </section>
  </nav>
</header>
