<header class="container navigation">
  <nav class="navbar p-2">
    <section class="navbar-section">
      <a href="/" class="navbar-brand mr-2">Spaziergang Creator</a>
      <%= link_to "All walks", walks_path, class: "btn btn-link" %>
    </section>
    <section class="navbar-section">
      <a href="https://spaziergang.datenschule.de/" class="btn btn-link">Datenspaziergang App</a>
    </section>
  </nav>
</header>
